.home_page {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-grey400);
}

.home_page_info {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.home_page_info h1 {
  color: var(--color-grey100);
}

.home_page_info h1 > span {
  color: var(--color-brand100);
}

.home_page_info p {
  color: var(--color-grey100);
  max-width: 90%;
  line-height: 2.5rem;
}

.home_page_info p + p {
  font-weight: 400;
  font-size: 1rem;
}

.home_page_info .pink_btn {
  width: 100%;
}

.home_page_picture {
  display: none;
}

@media (min-width: 1024px) {
  .home_page_info {
    width: 40%;
  }

  .home_page_info p {
    max-width: 70%;
  }

  .home_page_info .pink_btn {
    width: 55%;
  }

  .home_page_picture {
    width: 60%;

    display: flex;
  }

  .home_page_picture img {
    width: 100%;

    animation: 4s beating linear infinite;
  }

  @keyframes beating {
    0% {
      opacity: 0.6;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.6;
    }
  }
}
