.grey_btn,
.pink_btn {
  min-width: 2.5rem;
  min-height: 2.5rem;

  padding: 0.625rem 1.25rem;
}

.grey_btn {
  background-color: var(--color-grey200);
  color: var(--color-grey400);
}

.grey_btn:hover {
  background-color: var(--color-grey400);
  color: var(--color-grey200);

  transition: 0.8s;
}

.pink_btn {
  background-color: var(--color-brand100);
  color: var(--color-white);
}

.pink_btn:hover {
  background-color: var(--color-brand200);

  transition: 0.8s;
}
