@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-brand100: #fd377e;
  --color-brand200: #e34981;
  --color-secondary: #03b898;
  --color-grey100: #f8f9fa;
  --color-grey200: #e9ecef;
  --color-grey300: #868e96;
  --color-grey400: #212529;
  --color-black: #000;
  --color-white: #fff;

  --default-radius: 0.5rem;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
}

button {
  cursor: pointer;

  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;

  border-radius: var(--default-radius);
  border: none;
}

.container {
  width: 90vw;

  margin: 0 auto;

  animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60rem;

    display: flex;
  }
}
