.list_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list_empty_card_container {
  display: none;
}

.list_card_container {
  width: 100%;

  display: flex;
  gap: 1.5rem;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.list_container_header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn_container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .list_empty_card_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .list_card_container {
    flex-direction: column;

    overflow-x: initial;
    overflow-y: initial;
    white-space: nowrap;
  }

  .list_container_header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btn_container {
    width: 60%;
  }
}
